.command_f{
  margin-top: 10px;
  height: 46%;
  width: 100%;
  background-color: white;
  border: 1px solid rosybrown ;
  border-bottom:none ;
  &_left{
    width: 50%;
    height: 100%;
    border-right: 1px solid rosybrown;
  }
}
.command_b{
  height: 46%;
  width: 100%;
  background-color: white;
  border: 1px solid rosybrown ;
  &_left{
    width: 50%;
    height: 100%;
    border-right: 1px solid rosybrown;
  }
}