.bulkInfo-box{
  padding: 0 20px;
}
.plan-detail-content{
  background-color: white;
  color: #737373;
  padding: 10px;
  margin: 0 0 15px 0;
}
.plan-detail-content:hover{
  box-shadow: #666 0 3px 10px;
}
.plan-detail-item{
  font-size: 14px;
  height: 35px;
  line-height: 35px;
}